<div class="input-container">
  <input
    type="text"
    [(ngModel)]="strenth"
    (ngModelChange)="changeHandler($event)"
  />
  <button
    [ngStyle]="{
      backgroundColor: easy === 'easy' ? 'red' : 'gray'
    }"
    type="button"
  >
    {{ easy }}
  </button>
  <button
    [ngStyle]="{
      backgroundColor: medium === 'medium' ? 'yellow' : 'gray'
    }"
    type="button"
  >
    {{ medium }}
  </button>
  <button
    [ngStyle]="{
      backgroundColor: strong === 'strong' ? 'green' : 'gray'
    }"
    type="button"
  >
    {{ strong }}
  </button>
</div>
